.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.headerLinks {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.headerLinks li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.rightHeaderLinks {
    text-align: right;
}

.introduction {
    padding-top: 100px;
    text-align: center;
}

.summaryInfo {
    padding-top: 50px;
}

.infoSection {
    width: 50%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.aboutUsPicture {
    width: 30%;
    height: 350px;
    background-color: antiquewhite;
}

body {
    font-family: Europa,Helvetica,sans-serif;
}