<div class="introduction">
    <h1>We seek to deliver the best experience to our clients!</h1>
</div>
<div class="row infoSection">
    <div class="col-md-5 howItWorks">
        <p>
            Modern Joa is a family owned import and export company that provides a wide selection of merchandise to  restaurants, grocery stores, supermarkets, and other small businesses within the tri-state area.
            Drawing from a multitude of experiences from owning a deli, starting out from the trunk of a car as a retail supplier, to now being an import and export company,
            we understand the value of hard work and dedication needed to run a business. Thus, we are committed to our customers and strive for the best quality in our products at an affordable price
        </p>
        <!-- <button mat-raised-button color="primary">Learn More</button> -->
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 aboutUsPicture">
        <img src="assets/img/No_Image_Available.jpg">
    </div>
</div>