<!-- Originally, the search bar with all the necessary links should go here -->
<header class="header">
  <div class="row">
    <div class="col-md-2" (click)="home()">
      <button mat-raised-button color="primary">Modern Joa</button>
    </div>
    <div class="col-md-10 rightHeaderLinks">
      <ul class="headerLinks">
        <li (click)="aboutUs()">
          <button mat-raised-button color="primary">About us</button>
        </li>
        <li>
          <button mat-raised-button [matMenuTriggerFor]="merchandise" color="primary">Merchandise</button>
          <mat-menu #merchandise="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="plastic"><i class="fas fa-recycle"></i> Plastic</button>
            <button mat-menu-item [matMenuTriggerFor]="paper"><i class="fas fa-copy"></i> Paper</button>
            <mat-menu #plastic="matMenu">
              <button mat-menu-item>Cups</button>
              <button mat-menu-item><i class="fas fa-utensils"></i> Utensils</button>
              <button mat-menu-item>Bags</button>
            </mat-menu>
            <mat-menu #paper="matMenu">
              <button mat-menu-item>Cups</button>
              <button mat-menu-item>Bags</button>
            </mat-menu>
          </mat-menu>
        </li>
        <li>
          <button mat-raised-button color="primary">Contact Us</button>
        </li>
        <li (click)="login()">
          <button mat-raised-button color="primary">Login</button>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="introduction">
  <h1>Family Business</h1>
  <div class="summaryInfo">
      We connect highly qualified job-seekers directly with top companies. Let's make Mondays something to celebrate.
  </div>
</div>
<div class="row infoSection">
    <div class="col-md-5 howItWorks">
      <p>How MoneyBag works</p>
      <p>
        Make a profile on Vettery and companies will reach out directly to you and request interviews. It's a stress-free way to find your dream job.
      </p>
      <button mat-raised-button color="primary">Learn More</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 aboutUsPicture">
      
    </div>
</div>
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
