.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.headerLinks {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.headerLinks li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.rightHeaderLinks {
    text-align: right;
}