<div class="introduction">
  <h1>Family Business</h1>
  <div class="summaryInfo">
    We connect highly qualified job-seekers directly with top companies. Let's make Mondays something to celebrate.
  </div>
</div>
<div class="row infoSection">
  <div class="col-md-5 howItWorks">
    <p>How MoneyBag works</p>
    <p>
      Make a profile on Vettery and companies will reach out directly to you and request interviews. It's a stress-free
      way to find your dream job.
    </p>
    <button mat-raised-button color="primary">Learn More</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 aboutUsPicture">
      <img src="assets/img/No_Image_Available.jpg">
  </div>
</div>